@import '../../assets/Variables.scss';
#google-login-button{
    // background-color: black;
    background-image: $google-login;
    // border: ;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    min-width: 60%;
    height: 10%;
    content: "";
    &:hover{
        box-shadow: 0px 0px 10px rgba(24, 73, 233, 0.575);
    }
}